.movieCard{
    list-style: none;
    font-size: 1.6rem;
    color: white;
    text-align: center;

}

.movieImage {
    border-radius: 15px;
    background-color: rgb(3, 4, 73);
}
@media (max-width: 560px) {
    .movieImage {
        width: 90%;
        height: auto;
    }
}